/* ----------- Normalización básica ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------- Fuentes ----------- */

/* Bebas-Regular */


/* Montserrat-Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
/* Estilos generales para el scrollbar */
::-webkit-scrollbar {
    width: 8px;  /* Ancho del scrollbar */
  }
  
  /* Estilos de la pista del scrollbar (track) */
  /* Scrollbar General */
::-webkit-scrollbar {
    width: var(--scroll-width);
  }
  
  /* Estilos del track */
  ::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: var(--scroll-radius); /* Bordes redondeados del track */
  }
  
  /* Estilos del thumb (parte desplazable) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-radius); /* Bordes redondeados en todo el thumb */
    border: 2px solid var(--scroll-border);
  }
  
  /* Estilos del thumb cuando se pasa el cursor */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
  }
  
  /* Otros navegadores */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  }
  
  /* Bordes redondeados solo en la parte superior e inferior del thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: var(--scroll-radius) var(--scroll-radius) 0 0; /* Parte superior redondeada */
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    border-radius: 0 0 var(--scroll-radius) var(--scroll-radius); /* Parte inferior redondeada */
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
 .header{
   background: #1F191A;
    margin: 0;
    
}

.navbar {
    background-color: #00458b00; /* Color de fondo de la barra */
}

.navbar-brand img {
    height: 60px; /* Ajusta el tamaño del logo */
}

/* Estilo para mantener los íconos alineados con el menú en pantallas grandes */
.navbar-nav{
  font-size: 2em;
  padding: 0;
  border-radius: 25px; /* Bordes redondeados */
}
.navbar-toggler{
  border: none !important;
  background-color: #ffffff; /* Fondo blanco */
}
.navbar-nav .nav-link {
  color: #D8661F;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.navbar-nav .nav-link:hover {
    background-color:  #D8661F; /* Cambio de color en hover */
    color: #ffffff;
    transition: all 1.s;
}
.nav-link.active {
  background:  #D8661F !important; /* Cambio de color en hover */
  color: #ffffff !important;
  transition: all 1.s;
}
.nav-link.active:hover {
  background:  #ffffff !important; /* Cambio de color en hover */
  color: #D8661F !important;
  transition: all 1.s;
}
.icon-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.icon-section img {
  width: 100px;
  height: 100px;
}
.content-page{
  min-height: calc(70vh - 3.6em - 3.6em);
}
/*sections*/
.text-home-title {
  font-size: 4rem;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
}
.text-home-title-subtitle {
  right: 6rem !important;
  bottom:6rem !important;
}
.section-1{
    background: 
        url('../img/texturas/textura-marronpro.png') no-repeat center center / cover;
    /*height: 100vh;*/
    margin: 0;
}
.section-2{
    margin: 0;
}
.cursor-pointer{
    cursor: pointer;
}
.section-3{
    background: 
        url('../img/texturas/textura-azul.svg') no-repeat center center / cover;
    /*height: 100vh;*/
    margin: 0;
}
.section-4{
    background: 
        url('../img/texturas/textura-marronpro.png') no-repeat center center / cover;
    /*height: 100vh;*/
    margin: 0;
}

/* fonts */
.font-montserrat{
    font-family: 'Montserrat', sans-serif !important;
}


/* transparencias*/
.bg-transparent{
    background: transparent !important;
    border: none !important;
}
/* colores de texto*/
.text-green{
  color: #009045 !important;
}
/* colores de fondo*/
.bg-orange{
 background-color: #D8661F;
}
.bg-brown{
    background: #1F191A !important;
}
.text-justify {
    text-align: justify;
  }

/* radios*/
.radio-1{
    border-radius: 1em;
}
/*hv*/
.min-vh-70{
    min-height: 70vh !important;
}
/* interlineados*/
.reduced-line-height {
    line-height: 0;
  }
/* img */

.img-cover {
    object-fit: cover;
  }
.icon-service{
  fill: #D8661F !important;
  color: #D8661F !important;
}

  /*cards*/
  .card-title-producto{
    margin-bottom: 0.5rem !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Estilos personalizados */
.image-box {
    /*width: 40%;*/
    background: linear-gradient(to right, #64CCEE, #308DC2) !important;
    border-radius: 10px;
    height: 24.375em;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .rating i {
    color: #64CCEE;
    font-size: 1.5rem;
  }
    
  .map-container {
    flex-grow: 1;
    height: 100%;
    margin-left: -1rem !important;
  }
  
/* botones */
.btn-rounded{
    border-radius: 1em;
}
.btn-card{
    background: linear-gradient(to right, #64CCEE, #308DC2) !important;
}
.btn-star{
    color: #3C2415;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-star:hover{
    color: #854d2b;
    border-color: #ac673c;
}

.btn-heart{
    color: #3C2415;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-heart:hover{
    transform: scale(1.1);
}

.footer {
    background:linear-gradient(to right, #64CCEE, #308DC2) !important; /* Color de fondo azul claro */
    padding: 2rem;
}
/* Hacer la modal transparente */
.modal-content {
    border: none; /* Sin bordes */
  }

  /* Centrar el título de la modal */
  .modal-title {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* Centrar la imagen en la modal */
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* Estilo de la imagen */
  .modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar la imagen */
  }

/* medias querys*/

/* Para pantallas extra pequeñas (menos de 576px) */
@media (max-width: 575.98px) {
  .text-home-title-subtitle {
    right: 2rem !important;
    bottom: 0rem !important;
}
}
   
  
  /* Para pantallas pequeñas (de 576px a 767.98px) */
  @media (min-width: 576px) {
    .text-home-title-subtitle {
      right: 2rem !important;
      bottom: 0rem !important;
  }
  }
   
  
  /* Para pantallas medianas (de 768px a 991.98px) */
  @media (min-width: 768px) {
    /* fonts */
    .fa-md-2x{
      font-size: 2em;
    }
    
    
  } @media (max-width: 768px) {
    
    
    .text-home-title {
      font-size: 2rem;
    }
    
  }
  
  /* Para pantallas grandes (de 992px a 1199.98px) */
  @media (min-width: 992px) {}
   
  
  /* Para pantallas extra grandes (de 1200px en adelante) */
  @media (min-width: 1200px) {
   
  }